@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #FFACDF;
}

#column-2 {
  background: #FFE124;
}

#column-3 {
  background: #96F9FF;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #FA523C;
  }

  #column-1 {
    background-color: #FACE16;
  }

  #column-2 {
    background-color: #FA0A26 ;
  }

  #column-3 {
    background-color: #1840AD;
  }

  footer {
    background-color: #C5C6FA ;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #FA3CAF;
  }

  #column-1 {
    background-color: #03FBA1 ;
  }

  #column-2 {
    background-color: #CD23FA;
  }

  #column-3 {
    background-color: #FABB23 ;
  }

  footer {
    background-color: #1BEBFA;
  }
   
}
